{% load static %}
<div class="container" style="background-color: white;">
    <div class="title-wrap d-flex align-items-center">
        <h3 class="title mb-0">Notifications</h3>
        <a href="#" class="small ml-auto">Mark all as read</a>
    </div>
    <ul class="custom-notifications">
        <li>
            <a href="#" class="d-flex">
                <div class="img mr-3">
                    <img src="{% static 'img/cart.jpg' %}" alt="Image" class="img-fluid">
                </div>
                <div class="text">
                    <strong>Claudia Gideon</strong> 
                    <span>the task done a day ago</span>
                </div>
            </a>
        </li>
    </ul>
    <p class="text-center m-0 p-0"><a href="#" class="small">View All</a></p>    
</div>