{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>{{ page_title }}</h2>
                            <p><a href="/">Головна</a> <span>-</span>Магазин</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
    {% include 'cart/cart.html' %}

{% endblock %}